OPENAI_API_KEY=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=postgres
PINECONE_API_KEY=
PINECONE_INDEX_NAME=langchain-pinecone-asistente-de-ventas
TAVILY_API_KEY=
CHATWOOT_BASE_URL=
CHATWOOT_ACCOUNT_ID=
CHATWOOT_API_ACCESS_TOKEN=
CHATWOOT_BOT_LABEL=atiende-ia
AGENT_TIMEZONE=America/Bogota
